<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
          <key>rules</key>
          <dict>
                    <!-- Include everthing in MacOS and Resources -->
                    <key>^MacOS/</key>
                    <true/>
                    <key>^Resources/</key>
                    <true/>
                    <key>^Resources/site.pyc$</key>
                    <dict>
                        <key>omit</key>
                        <true/>
                        <key>weight</key>
                        <real>1100</real>
                    </dict>
          </dict>
</dict>
</plist>
